@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color:white;
    padding: 1em;
}

header, main, footer{
    max-width: 800px;
    margin:auto;
}

header, footer{
    border: solid 3px #daa520;
    padding: .25rem;
    border-top-right-radius: 4rem;
    border-bottom-left-radius: 4rem;
    background-color: #e5e5f7;
    background-color: #000000;
}

header{
    display: flex;
    flex-direction: column;
    color:white;
}

img{
    width: 50%;
    height: auto;
    position: relative;
    border-top-right-radius: 4rem;
    border-bottom-left-radius: 4rem;
    padding: .35rem;
    margin: .5rem 0 .5rem 1rem;
    z-index: 1;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    font-size: 2rem;
    margin: 0 0 0 5rem;
}

h2{
    color: goldenrod;
    text-align: center;
    font-family: "Rubik Mono One", monospace;
    font-weight: lighter;
}

li, a {
    list-style-type: square;
    font-size: 1.25rem;
    color:white;
    padding-bottom: 1rem;
}

a:hover {
    background: linear-gradient(90deg, rgba(3,233,244,0.8262954840139181) 0%, rgba(0,0,0,1) 50%, rgba(237,5,5,0.7926820386357668) 100%);
    padding: 0%;
}
footer, .weblink{
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    color: #e2b100;
}

@media screen and (min-width: 825px) {
    header{
        display: flex;
        flex-direction: row;
    }

    img {
        width: 15%;
    }

    h1 {
        margin: 6.5rem 0 0 16rem;
        font-size: 2.5rem;
    }
    
    .light {
        margin: 6% 0 0 33%;
    }

    .dark {
        margin: 6% 0 0 33%;
    }
}